.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}

.title {
  width: 100%;
  padding: 100px 0;
  font-size: 40px;
  color: white;
  background-color: black;
  text-align: center;
}

.form_wrap {
  padding: 50px 0;
}

.input_box {
  width: 300px;
  height: 50px;
  margin-right: 30px;
  font-size: 30px;
  color: red;
  outline: none;
  border: 2px solid #ccc;
  box-shadow: none;
  transition: all 0.3s;
}

.input_box:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  border: solid 2px #666;
}

label[for="addDoing"] {
  margin-right: 15px;
}

.add {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
  box-shadow: 0 5px 0 rgba(136, 136, 136, 1);
  outline: none;
}

.add:hover {
  cursor: pointer;
}

.add:active {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}

ul {
  text-align: center;
  padding-bottom: 100px;
}

li p {
  margin: 20px 0;
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  background-color: white;
}

.complete {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  font-size: 30px;
  box-shadow: 0 3px 0 rgba(136, 136, 136, 1);
  outline: none;
}

.complete:hover {
  cursor: pointer;
}

.complete:active {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}
